<%= form_for (@article) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.hidden_field :content %>
    <div id="editor"></div>

  <%= f.submit %>
<% end %>

<% content_for :js do %>
    <script>
      function startEditor(input) {
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/tomorrow");
        editor.getSession().setUseWrapMode(true);
        editor.getSession().setMode("ace/mode/markdown");
        editor.setValue(input);
        return editor;
      }
      var content = $('#article_content').val();
      current_editor = startEditor(content);

      $("form").on("submit", function(event) {
        // Code executed when a form is submitted
        $(this).find("input[id=article_content]")[0].value = current_editor.getValue();
      })
    </script>
    <% # javascript_include_tag 'articles/form' %>
<% end %>
